.order {
  padding-top: 32px;
  padding-bottom: 54px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 56px;
    padding-bottom: 48px;
  }

  &__title {
    color: #111;
    font-family: Play;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }

  &__text {
    color: #111;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    @media screen and (min-width: 768px) {
      font-size: 24px;
      line-height: 100%;
    }
  }

  &__information {
    color: #111;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    @media screen and (min-width: 768px) {
      line-height: 120%; /* 24px */
      font-size: 24px;
    }
  }

  &__cost {
    display: flex;
    gap: 36px;
    margin-top: 16px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      gap: 57px;
      margin-top: 24px;
      margin-bottom: 37px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 54px;
    }
  }

  &__price {
    color: #111;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__reference {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 32px;
    }
  }

  &__link {
    color: $link-color;
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__link::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    fill: #111;
    background-image: url(../../images/heart.svg);
    margin-left: 18px;
  }

  &__button {
    display: flex;
    width: 165px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    border: 3px solid $link-color;
    background: none;
    color: $link-color;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    @media screen and (min-width: 768px) {
      font-size: 20px;
      width: 197px;
      padding: 12px 28px;
    }
  }

  &__button:hover {
    background-color: $link-color;
    color: #fff;
  }

  &__heart {
    width: 24px;
    height: 24px;
    position: relative;
    display: block;
    left: 285px;
    top: 30px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: none;
    margin-top: 25px;
    gap: 20px;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-top: 30px;
    }
  }

  &__img  {
    display: block;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      display: none;
    }
  }

  &__bigroom {
    width: 1280px;
    height: auto;
  }

  &__room {
    width: 305px;
    height: auto;
  }

  &__sublist {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 10px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__icon {
    fill: #CFE7F5;
    width: 16px;
    height: 16px;
  }

  &__subicon {
    fill: #266294;
    width: 16px;
    height: 16px;
  }
}
main {
  background: #fff;
}
