body {
    font-family: Play;
    color: var(--text-color, #111);
    font-weight: 700;
    background-color: #EBF8FF;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    outline: solid red;
    max-width: 350px;
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (min-width: 768px){
        max-width: 770px;
    }

    @media screen and (min-width: 1200px){
        max-width: 1300px;
    }
}

