.container {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    padding-left: 10px;
    padding-right: 10px;
    outline: solid red;
}




:root {
    --text-color: #111111;
    --link-color: #266294;
    --additional-color: #766F6F;
    --title-color: #F8F7F7;
    --button-color: #E96E25;
}





body {
    font-family: Play;
    color: var(--text-color, #111);
    font-weight: 700;
    background-color: #EBF8FF;
}


.header {}

.header-container {
    display: flex;
    align-items: center;

}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-photo {
    width: 55px;
    height: 55px;
}

.header-button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: transparent;
    border: 3px solid
}

.header-button:hover {
    color:#EBF8FF;
    background-color: var(--link-color)
    
}

.header-list {
    display: flex;
    gap: 60px;
    margin-right: 155px;
    margin-left: 155px;

}

.header-text {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 18px;
    line-height: 100%;
}

.header-page {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 130%;
}

.header-button {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    margin-left: auto;
}

.hero {
    padding-top: 161px;
    padding-bottom: 130px;
    background-image: url(../images/fly.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    color: #F8F7F7;
    font-family: "Roboto Condensed";
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 120px */
    text-transform: uppercase;
    width: 509px;
    height: 240px;

}

.hero-subtitle {
    color: var(--title-color, #F8F7F7);
    font-family: "Roboto Condensed";
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 240px;
}

.hero-button {
    color: #F8F7F7;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 16px */
    border: 1px solid #E96E25;
    background: #E96E25;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 40px;
    font-family: inherit;
}

.hero-button:hover {
color: #E96E25;
background-color:transparent
}

.hero-btn {
    border: 2px solid #E96E25;
    background-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    color: #E96E25;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-family: inherit;
}

.hero-btn:hover   {
color:#EBF8FF;
background-color:#E96E25
}

.advirtisement {
    padding-top: 51px;
    padding-bottom: 68px;
}

.advirtisement-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.advirtisement-item {
    max-width: 630px;
}

.advirtisement-subtitle {
    font-family: Play;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 28px;
}

.advirtisement-name {
    text-align: center;
    font-size: 32px;
    line-height: 100%;
    margin-top: 32px;

}

.countries {
    padding-top: 32px;
    padding-bottom: 132px;
}

.countries-photo {
    margin-bottom: 16px;
    width: 414px;
    height: 300px;
    flex-shrink: 0;
}

.countries-logo {
    color: #266294;
    text-align: center;
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
}

.countries-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 24px;

}

.countries-item {
    max-width: 413px;
    margin-bottom: 56px;
}

.countries-box {
    display: flex;
    justify-content: space-between;
}

.countries-subtitle {
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 56px;
}

.countries-name {
    text-align: center;
    font-family: Play;
    font-size: 32px;
    line-height: 100%;
}

.countries-text {
    font-size: 16px;
    line-height: 120%;
}

.last {
    padding-bottom: 115px;
}

.last-subtitle {
    font-size: 40px;
    line-height: 100%;
}

.last-title {
    color: #266294;
    text-align: center;
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    text-decoration: underline;
    padding-bottom: 12 px;
    display: block;
}

.last-folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.last-photo {
    margin-bottom: 12px;
}

.last-box {
    padding-left: 16px;
}

.last-name {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 100%;
}

.last-list {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}

.last-text {
    color: var(--additional-color, #766F6F);
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 8px;
}

.last-rating {
    color: var(--link-color, #266294);
    font-size: 14px;
    line-height: 100%;
}

.footer {}

.footer-photo {
    width: 60px;
    height: 60px;
}

.footer-logo {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 18px;
    line-height: 100%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-social {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.footer-socials {
    gap: 28px;
    display: flex;
    padding-top: 43px;
}

.footer-list {
    display: flex;
    gap: 64px;
    padding-bottom: 32px;

}

.footer-link {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 130%;

}

.footer-container {
    display: flex;
}

.footer-text {
    color: var(--Web_service_color-Hero_blue, #266294);
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 20.8px */
}