.container {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    padding-left: 10px;
    padding-right: 10px;
    outline: solid red;
}




:root {
    --text-color: #111111;
    --link-color: #266294;
    --additional-color: #766F6F;
    --title-color: #F8F7F7;
    --button-color: #E96E25;
}





body {
    font-family: Play;
    color: var(--text-color, #111);
    font-weight: 700;
}


.header {}

.header-container {
    display: flex;
    align-items: center;

}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-photo {
    width: 55px;
    height: 55px;
}

.header-button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: transparent;
    border: 3px solid
}



.header-list {
    display: flex;
    gap: 60px;
    margin-right: 155px;
    margin-left: 155px;

}

.header-text {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 18px;
    line-height: 100%;
}

.header-page {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 130%;
}

.header-button {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    margin-left: auto;
}

.hero {
    padding-top: 161px;
    padding-bottom: 130px;
    background-image: url(../images/fly.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    color: #F8F7F7;
    font-family: "Roboto Condensed";
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 120px */
    text-transform: uppercase;
    width: 509px;
    height: 240px;

}

.hero-subtitle {
    color: var(--title-color, #F8F7F7);
    font-family: "Roboto Condensed";
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 240px;
}

.hero-button {
    color: #F8F7F7;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 16px */
    border: 1px solid #E96E25;
    background: #E96E25;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 40px;
    font-family: inherit;
}

.hero-btn {
    border: 2px solid #E96E25;
    background-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    color: #E96E25;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-family: inherit;
}

.advirtisement {
    padding-top: 51px;
    padding-bottom: 68px;
}

.advirtisement-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.advirtisement-item {
    max-width: 630px;
}

.advirtisement-subtitle {
    font-family: Play;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 28px;
}

.advirtisement-name {
    text-align: center;
    font-size: 32px;
    line-height: 100%;
    margin-top: 32px;

}

.countries {}

.countries-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.countries-box {
    display: flex;
    padding-left: 918px;
}

.countries-subtitle {
    text-align: center;
    font-size: 40px;
    line-height: 100%;
}

.countries-name {
    text-align: center;
    font-family: Play;
    font-size: 32px;
    line-height: 100%;
}

.countries-text {
    font-size: 16px;
    line-height: 120%;
}

.last-subtitle {
    text-align: center;
    font-size: 40px;
    line-height: 100%;
}

.last-name {

    font-size: 16px;
    line-height: 100%;
}

.last-text {
    color: var(--additional-color, #766F6F);
    font-size: 16px;
    line-height: 100%;
}

.last-rating {
    color: var(--link-color, #266294);
    font-size: 14px;
    line-height: 100%;
}

.footer {}

.footer-logo {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 18px;
    line-height: 100%;
}

.footer-link {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 130%;
}