:root {
    --text-color: #111111;
    --link-color: #266294;
    --additional-color: #766F6F;
    --title-color: #F8F7F7;
    --button-color: #E96E25;
}





body {
    font-family: Play;
    color: var(--text-color, #111);
    font-weight: 700;
}


.header {}

.header-text {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 18px;
    line-height: 100%;
}

.header-page {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 130%;
}

.header-button {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 100%;
}

.hero {}

.hero-title {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 100%;
}

.hero-subtitle {
    color: var(--title-color, #F8F7F7);
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 32px;
    line-height: 100%;
}

.hero-button {
    color: var(--title-color #F8F7F7);
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    line-height: 100%;
}

.hero-button {
    color: var(--button-color #E96E25);
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    line-height: 100%;
}

.advirtisement {}

.advirtisement-subtitle {
    text-align: center;
    font-family: Play;
    font-size: 40px;
    line-height: 100%;
}

.advirtisement-name {
    text-align: center;
    font-size: 32px;
    line-height: 100%;

}

.countries {}

.countries-subtitle {
    text-align: center;
    font-size: 40px;
    line-height: 100%;
}

.countries-name {
    text-align: center;
    font-family: Play;
    font-size: 32px;
    line-height: 100%;
}

.countries-text {
    font-size: 16px;
    line-height: 120%;
}

.last-subtitle {
    text-align: center;
    font-size: 40px;
    line-height: 100%;
}

.last-name {

    font-size: 16px;
    line-height: 100%;
}

.last-text {
    color: var(--additional-color, #766F6F);
    font-size: 16px;
    line-height: 100%;
}

.last-rating {
    color: var(--link-color, #266294);
    font-size: 14px;
    line-height: 100%;
}

.footer {}

.footer-logo {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 18px;
    line-height: 100%;
}

.footer-link {
    color: var(--link-color, #266294);
    text-align: center;
    font-size: 20px;
    line-height: 130%;
}