.countries {
    padding-top: 32px;
    padding-bottom: 132px;

    &__photo {
        margin-bottom: 16px;
        width: 414px;
        height: 300px;
        flex-shrink: 0;
    }
    
    &__logo {
        color: #266294;
        text-align: center;
        font-family: Play;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 20px */
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 24px;
    
    }
    
    &__item {
        max-width: 413px;
        margin-bottom: 56px;
    }
    
    &__box {
        display: flex;
        justify-content: space-between;
    }
    
    &__subtitle {
        text-align: center;
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 56px;
    }
    
    &__name {
        text-align: center;
        font-family: Play;
        font-size: 32px;
        line-height: 100%;
    }
    
    &__text {
        font-size: 16px;
        line-height: 120%;
    }
    
}

