.hero {
  padding-top: 80px;
  padding-bottom: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/mobile/fly@mobile1x.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/mobile/fly@mobile2x.webp);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../images/tablet/fly@tablet1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/tablet/fly@tablet2x.webp);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/desktop/fly@desktop1x.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/desktop/fly@desktop2x.webp);
    }
  }

  &__father {
    position: relative;
  }

  &__pict {
    position: absolute;
    top: 35px;
    left: 130px;

    @media screen and (min-width: 768px) {
        top: 70px;
        left: 255px;
      }
  }

  &__images {
    width: 37px;

    @media screen and (min-width: 768px) {
      width: 74px;
    }
    @media screen and (min-width: 1200px) {
      width: 83px;
    }
  }

  &__title {
    color: #f8f7f7;
    font-family: "Roboto Condensed";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

    text-transform: uppercase;
    max-width: 255px;

    @media screen and (min-width: 768px) {
      font-size: 96px;
      line-height: 120px;
      max-width: 509px;
    }
  }

  &__subtitle {
    color: var(--title-color, #f8f7f7);
    font-family: "Roboto Condensed";
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 106px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 110px;
      line-height: 32px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 240px;
    }
  }

  &__button {
    color: #f8f7f7;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 16px */
    border: 1px solid #e96e25;
    background: #e96e25;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 24px;
    font-family: inherit;

    @media screen and (min-width: 768px) {
      margin-right: 100px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 40px;
    }
  }

  &__button:hover {
    color: #e96e25;
    background-color: transparent;
  }

  &__btn {
    border: 2px solid #e96e25;
    background-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    color: #e96e25;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-family: inherit;
  }

  &__btn:hover {
    color: #ebf8ff;
    background-color: #e96e25;
  }
}
