.last {
    padding-bottom: 115px;

    &__subtitle {
        font-size: 40px;
        line-height: 100%;
    }
    
    &__title {
        color: #266294;
        text-align: center;
        font-family: Play;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 20px */
        text-decoration: underline;
        padding-bottom: 12 px;
        display: block;
    }
    
    &__folder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }
    
    &__photo {
        margin-bottom: 12px;
    }
    
    &__box {
        padding-left: 16px;
    }
    
    &__name {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 100%;
    }
    
    &__list {
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
    }
    
    &__text {
        color: var(--additional-color, #766F6F);
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 8px;
    }
    
    &__rating {
        color: var(--link-color, #266294);
        font-size: 14px;
        line-height: 100%;
    }
}

