<section class="advert">
  <div class="container">
    <h1 class="advert__heding">Всі оголошення</h1>
    <div class="advert__div">
      <ul class="advert__choice">
        <li>
          <input id="checkbox" class="advert__input" type="checkbox" />
          <label class="advert__label" for="checkbox">Всі оголошення</label>
        </li>
        <li>
          <input id="checkbox" class="advert__input" type="checkbox" />
          <label class="advert__label" for="checkbox">Пропоную</label>
        </li>
        <li>
          <input id="checkbox" class="advert__input" type="checkbox" />
          <label class="advert__label" for="checkbox">Шукаю</label>
        </li>
      </ul>
      <button class="advert__button">Фільтр</button>
    </div>
    <div class="advert__open">
      <h3 class="advert__title">Суперекономія</h3>
      <button class="advert__btnopen">Відкрити всі оголошення</button>
    </div>
    <ul class="advert__list">
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/Silverhotel@desktop-1x.webp 1x,
              ../images/desktop/Silverhotel@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/Silverhotel@tablet-1x.webp 1x,
              ../images/tablet/Silverhotel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/Silverhotel@mobile-1x.webp 1x,
              ../images/mobile/Silverhotel@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/Silverhotel@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Silver Hotel</h3>
        <p class="advert__address">Petrou Karakousi, Greece</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">7,4</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/Erzsébet@desktop-1x.webp 1x,
              ../images/desktop/Erzsébet@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/Erzsébet@tablet-1x.webp 1x,
              ../images/tablet/Erzsébet@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/Erzsébet@mobile-1x.webp 1x,
              ../images/mobile/Erzsébet@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/Erzsébet@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Erzsébet</h3>
        <p class="advert__address">Alicante, Spain</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">6,2</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/KViHotel@desktop-1x.webp 1x,
              ../images/desktop/KViHotel@desktop-1x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/KViHotel@tablet-1x.webp 1x,
              ../images/tablet/KViHotel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/KViHotel@mobile-1x.webp 1x,
              ../images/mobile/KViHotel@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/KViHotel@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">KViHotel</h3>
        <p class="advert__address">Madrid, Spain</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">7,2</p>
        </div>
      </li>
    </ul>
    <div class="advert__open">
      <h3 class="advert__titles">Спецільна пропозиція</h3>
      <button class="advert__btnopen">Відкрити всі оголошення</button>
    </div>
    <ul class="advert__list">
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/SierradeMeira@desktop-1x.webp 1x,
              ../images/desktop/SierradeMeira@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/SierradeMeira@tablet-1x.webp 1x,
              ../images/tablet/SierradeMeira@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/SierradeMeira@mobile-1x.webp 1x,
              ../images/mobile/SierradeMeira@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/SierradeMeira@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Sierra de Meira</h3>
        <p class="advert__address">Madrid, Spain</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">7,4</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/MolitorHotel@desktop-1x.webp 1x,
              ../images/desktop/MolitorHotel@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/MolitorHotel@tablet-1x.webp 1x,
              ../images/tablet/MolitorHotel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/MolitorHotel@mobile-1x.webp 1x,
              ../images/mobile/MolitorHotel@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/MolitorHotel@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Molitor Hotel</h3>
        <p class="advert__address">Paris, France</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">6,9</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/LeGalionHotel@desktop-1x.webp 1x,
              ../images/desktop/LeGalionHotel@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/LeGalionHotel@tablet-1x.webp 1x,
              ../images/tablet/LeGalionHotel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/LeGalionHotel@mobile-1x.webp 1x,
              ../images/mobile/LeGalionHotel@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/LeGalionHotel@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Le Galion Hotel</h3>
        <p class="advert__address">Saint-Martin-de-Re, France</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">8,4</p>
        </div>
      </li>
    </ul>
    <div class="advert__open">
      <h3 class="advert__titles">Популярні оголошення</h3>
      <button class="advert__btnopen">Відкрити всі оголошення</button>
    </div>
    <ul class="advert__lists">
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/ENAChalets@desktop-1x.webp 1x,
              ../images/desktop/ENAChalets@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/ENAChalets@tablet-1x.webp 1x,
              ../images/tablet/ENAChalets@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/ENAChalets@mobile-1x.webp 1x,
              ../images/mobile/ENAChalets@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/ENAChalets@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">ENA Chalets</h3>
        <p class="advert__address">Lido di Spina, Italy</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">7,2</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/AlMolo5@desktop-1x.webp 1x,
              ../images/desktop/AlMolo5@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/AlMolo5@tablet-1x.webp 1x,
              ../images/tablet/AlMolo5@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/AlMolo5@mobile-1x.webp 1x,
              ../images/mobile/AlMolo5@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/AlMolo5@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">AlMolo5</h3>
        <p class="advert__address">Alicante, Spain</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">6,4</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/Justbe@desktop-1x.webp 1x,
              ../images/desktop/Justbe@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/Justbe@tablet-1x.webp 1x,
              ../images/tablet/Justbe@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/Justbe@mobile-1x.webp 1x,
              ../images/mobile/Justbe@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/Justbe@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Just be & b</h3>
        <p class="advert__address">Petrou Karakousi, Greece</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">7,8</p>
        </div>
      </li>
    </ul>
    <ul class="advert__lists">
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/Homes@desktop-1x.webp 1x,
              ../images/desktop/Homes@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/Homes@tablet-1x.webp 1x,
              ../images/tablet/Homes@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/Homes@mobile-1x.webp 1x,
              ../images/mobile/Homes@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/Homes@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">HOMES</h3>
        <p class="advert__address">Erzhebetvaros, Budapest</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">9.2</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/BudgetApartment@desktop-1x.webp 1x,
              ../images/desktop/BudgetApartment@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/BudgetApartment@tablet-1x.webp 1x,
              ../images/tablet/BudgetApartment@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/BudgetApartment@mobile-1x.webp 1x,
              ../images/mobile/BudgetApartment@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/BudgetApartment@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Budget Apartment by Hi5</h3>
        <p class="advert__address">Saint-Martin-de-Re, France</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">6,5</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/EastStationDeLuxe@desktop-1x.webp 1x,
              ../images/desktop/EastStationDeLuxe@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/EastStationDeLuxe@tablet-1x.webp 1x,
              ../images/tablet/EastStationDeLuxe@tablet-1x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/EastStationDeLuxe@mobile-1x.webp 1x,
              ../images/mobile/EastStationDeLuxe@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/EastStationDeLuxe@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">East Station DeLuxe</h3>
        <p class="advert__address">Leopoldstadt, Vienna</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">5,4</p>
        </div>
      </li>
    </ul>
    <ul class="advert__lists">
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/DowntownHomesRelax@desktop-1x.webp 1x,
              ../images/desktop/DowntownHomesRelax@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/DowntownHomesRelax@tablet-1x.webp 1x,
              ../images/tablet/DowntownHomesRelax@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/DowntownHomesRelax@mobile-1x.webp 1x,
              ../images/mobile/DowntownHomesRelax@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/DowntownHomesRelax@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Downtown Homes Relax</h3>
        <p class="advert__address">Fatih, Istanbul</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">6,1</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/PairofKings@desktop-1x.webp 1x,
              ../images/desktop/PairofKings@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/PairofKings@tablet-1x.webp 1x,
              ../images/tablet/PairofKings@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/PairofKings@mobile-1x.webp 1x,
              ../images/mobile/PairofKings@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/PairofKings@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Pair of Kings</h3>
        <p class="advert__address">Podgurze, Krakow</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">9,2</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/DesignApartment@desktop-1x.webp 1x,
              ../images/desktop/DesignApartment@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/DesignApartment@tablet-1x.webp 1x,
              ../images/tablet/DesignApartment@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/DesignApartment@mobile-1x.webp 1x,
              ../images/mobile/DesignApartment@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/DesignApartment@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Design Apartment In Party</h3>
        <p class="advert__address">Rudolfsheim-Fünfhaus, Vienna</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">6,7</p>
        </div>
      </li>
    </ul>
    <ul class="advert__list">
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/AdagioDowntownMiniHotel@desktop-1x.webp 1x,
              ../images/desktop/AdagioDowntownMiniHotel@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/AdagioDowntownMiniHotel@tablet-1x.webp 1x,
              ../images/tablet/AdagioDowntownMiniHotel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/AdagioDowntownMiniHotel@mobile-1x.webp 1x,
              ../images/mobile/AdagioDowntownMiniHotel@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/AdagioDowntownMiniHotel@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Adagio Downtown MiniHotel</h3>
        <p class="advert__address">Baku,Azerbaijan</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">8,8</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/BenczurHotel@desktop-1x.webp 1x,
              ../images/desktop/BenczurHotel@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/BenczurHotel@tablet-1x.webp 1x,
              ../images/tablet/BenczurHotel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/BenczurHotel@mobile-1x.webp 1x,
              ../images/mobile/BenczurHotel@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/BenczurHotel@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Benczur Hotel</h3>
        <p class="advert__address">Krakow, Poland</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">5,5</p>
        </div>
      </li>
      <li class="advert__card">
        <picture>
          <source
            srcset="
              ../images/desktop/EasyStarHotel@desktop-1x.webp 1x,
              ../images/desktop/EasyStarHotel@desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../images/tablet/EasyStarHotel@tablet-1x.webp 1x,
              ../images/tablet/EasyStarHotel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/mobile/EasyStarHotel@mobile-1x.webp 1x,
              ../images/mobile/EasyStarHotel@mobile-2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advert__img"
            src="../images/mobile/EasyStarHotel@mobile-1x.webp"
            alt="house"
          />
        </picture>
        <h3 class="advert__subtitle">Easy Star Hotel</h3>
        <p class="advert__address">Andresen, Portugal</p>
        <div class="advert__point">
          <svg class="advert__star">
            <use href="../../images/symbol-defs.svg#icon-star"></use>
          </svg>
          <p class="advert__rating">4,8</p>
        </div>
      </li>
    </ul>

    <div class="advert__box">
      <button class="advert__download">Показати ще оголошення</button>
      <ul class="advert__lisst">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
          >
            <path
              d="M16 29.3337C23.3638 29.3337 29.3333 23.3641 29.3333 16.0003C29.3333 8.63653 23.3638 2.66699 16 2.66699C8.63616 2.66699 2.66663 8.63653 2.66663 16.0003C2.66663 23.3641 8.63616 29.3337 16 29.3337Z"
              stroke="#266294"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16 10.667L10.6666 16.0003L16 21.3337"
              stroke="#266294"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M21.3333 16H10.6666"
              stroke="#266294"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
        <li><a class="advert__number" href="/">1</a></li>
        <li><a class="advert__number" href="/">2</a></li>
        <li><a class="advert__number" href="/">3</a></li>
        <li><a class="advert__number" href="/">4</a></li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
          >
            <path
              d="M16 29.3337C23.3638 29.3337 29.3333 23.3641 29.3333 16.0003C29.3333 8.63653 23.3638 2.66699 16 2.66699C8.63616 2.66699 2.66663 8.63653 2.66663 16.0003C2.66663 23.3641 8.63616 29.3337 16 29.3337Z"
              stroke="#266294"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16 21.3337L21.3333 16.0003L16 10.667"
              stroke="#266294"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.6666 16H21.3333"
              stroke="#266294"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
