.footer {
    &__photo {
        width: 60px;
        height: 60px;
    }
    
    &__logo {
        color: var(--link-color, #266294);
        text-align: center;
        font-size: 18px;
        line-height: 100%;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    &__social {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    
    &__socials {
        gap: 28px;
        display: flex;
        padding-top: 43px;
    }
    
    &__list {
        display: flex;
        gap: 64px;
        padding-bottom: 32px;
    
    }
    
    &__link {
        color: var(--link-color, #266294);
        text-align: center;
        font-size: 20px;
        line-height: 130%;
    
    }
    
    &__container {
        display: flex;
    }
    
    &__text {
        color: var(--Web_service_color-Hero_blue, #266294);
        font-family: Play;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        /* 20.8px */
    }
}

