<section class="advirtisement">
    <div class="container">
        <h2 class="advertisement__subtitle">
            Критерії оголошення
        </h2>
        <ul class="advertisement__list">
            <li class="advertisement__item">
                <img class="advertisement__photo" src="./images/house.webp" alt="house">
                <h3 class="advertisement__name">Будинки</h3>
            </li>
            <li class="advertisement__item">
                <img src="./images/kitchen.webp" alt="kitchen">
                <h3 class="advertisement__name">Студії</h3>
            </li>
            <li class="advertisement__item">
                <img class="advertisement__photo" src="./images/block.webp" alt="block">
                <h3 class="advertisement__name">Квартири</h3>
            </li>
            <li class="advertisement__item">
                <img class="advertisement__photo" src="./images/bed.webp" alt="bed">
                <h3 class="advertisement__name">Кімнати</h3>
            </li>
        </ul>
    </div>
</section>