<section class="countries">
    <div class="container">
        <h2 class="countries__subtitle">
            Найпопулярніші країни для подорожей
        </h2>
        <div class="countries__box">
            <h3 class="countries__tatris-title">Франція</h3>
            <a href="" class="countries__logo"> Відкрити всі оголошення</a>
        </div>
        <ul class="countries__list">
            <li class="countries__item">
                <img class="countries__photo" src="./images/nantes.webp" alt="Nantes">
                <p class="countries__text">Nantes</p>
                <p class="countries__text">10 753 готелів</p>
            </li>
            <li class="countries__item">
                <img class="countries__photo" src="./images/Montpellier.webp" alt="Montpellier">
                <p class="countries__text">Montpellier</p>
                <p class="countries__text">11 386 готелів</p>
            </li>
            <li>

                <img class="countries__photo" src="./images/Paris.webp" alt="Paris">
                <p class="countries__text">Paris</p>
                <p class="countries__text">12 278 готелів</p>
            </li>
            <li class="countries__item">
                <img class="countries__photo" src="./images/Venezia.webp" alt="Venezuela">
                <p class="countries__text">Venezia</p>
                <p class="countries__text">14 120 готелів</p>
            </li>
            <li>
                <img class="countries__photo" src="./images/Firenze.webp" alt="Frirenze">
                <p class="countries__text">Firenze</p>
                <p class="countries__text">7 988 готелів</p>
            </li>
            <li class="countries__item">
                <img class="countries__photo" src="./images/roma.webp" alt="Roma">
                <p class="countries__text">Roma</p>
                <p class="countries__text">12 809 готелів</p>
            </li>
            <li class="countries__item">
                <img class="countries__photo" src="./images/Selvia.jpg" alt="Selvia">
                <p class="countries__text">Selvia</p>
                <p class="countries__text">8 984готелів</p>
            </li>
            <li class="countries__item">
                <img class="countries__photo" src="./images/Madrit.jpg" alt="Madrit">
                <p class="countries__text">Madrit</p>
                <p class="countries__text">15 325 готелів</p>
            </li>
            <li class="countries__item">
                <img class="countries__photo" src="./images/Mallorca.jpg" alt="Mallorca">
                <p class="countries__text">Mallorca</p>
                <p class="countries__text">

                    9 825 готелів
                </p>
            </li>
        </ul>
    </div>

</section>