<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <a class="footer__logo" href="">
                <img class="footer__photo" src="./images/planet1.webp" alt="planet">See World</a>


            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="">Головна </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Всі оголошення</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Обране</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Особистий кабінет</a>
                    <ul class="footer__socials">
                        <li class="footer__item">
                            <a href="">
                                <img class="footer__social" src="./images/facebook.webp" alt="facebook">
                            </a>
                        </li>
                        <li class="footer__list">
                            <a href="">
                                <img class="footer__social" src="./images/youtube.webp" alt="youtube">
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="">
                                <img class="footer__social" src="./images/instagram.webp" alt="instagram">
                            </a>
                        </li>
                        <li class="footer__item"><a href="../order.html">
                                <img class="footer__social" src="./images/twitter.png" alt="twitter">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <p class="footer__text">©Всі права захищені.</p>
    </div>

</footer>