<header class="header">
  <div class="container header__container">
    <button class="header__btn">
      <svg class="header__icone">
        <use href="./images/symbol-defs.svg#icon-menu" data-menu-open></use>
      </svg>
    </button>
    <a href="/" class="header__logo">
      <svg class="header__icon">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>

      <p class="header__text">See World</p>
    </a>
    <ul class="header__list">
      <li class="hesder__item">
        <a href="./header.html" class="header__page">Головна </a>
      </li>
      <li class="header__item">
        <a href="../advirtisement.html" class="header__page">Всі оголошення</a>
      </li>

      <li class="header__item">
        <a href="/">
          <svg class="header__heart">
            <use href="./images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </a>
      </li>

      <li class="header__item">
        <a href="../cabinet.html" class="header__page header__flex">
          <svg class="header__user">
            <use href="./images/symbol-defs.svg#icon-user"></use>
          </svg>

          Особистий кабінет</a
        >
      </li>
    </ul>
    <button class="header__button">Зареєстуватись</button>
  </div>
</header>
