<section class="hero">
    <div class="container">
      <div class="hero__father">
        <picture class="hero__pict">
            <source
              srcset="
                ./images/desktop/pictsmall@desktop1x.webp 1x,
                ./images/desktop/pictsmall@desktop2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/pictsmall@tablet1x.webp 1x,
                ./images/tablet/pictsmall@tablet2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/pictsmall@mobile1x.webp 1x,
                ./images/mobile/pictsmall@mobile2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="hero__images"
              src="./images/desktop/pictsmall@desktop1x.webp"
              alt="laptop"
            />
          </picture>
          <h1 class="hero__title">Знайди своє місце</h1>
      </div>
      <h2 class="hero__subtitle">Подорожуй зі смаком</h2>
      <button class="hero__button">Знайти оголошення</button>
      <button class="hero__btn">Подати оголошення</button>
    </div>
  </section>