<section class="last">
    <div class="container">
        <div class="last__folder">
            <h2 class="last__subtitle">
                Останні оголошення
            </h2>
            <a href="" class="last__title">
                Відкрити всі оголошення
            </a>
        </div>
        <ul class="last__list">
            <li class="">
                <img class="last__photo" src="./images/room3.webp" alt="Vila Gale Lagos Hotel">
                <div class="last__box">
                    <h3 class="last__name">Vila Gale Lagos Hotel</h3>
                    <p class="last__text">Andresen, Portugal </p>
                    <p class="last__rating">7,1</p>
                </div>
            </li>
            <li class="last__item">
                <img class="last__photo" src="./images/bedroom.webp" alt="Cala Moresca ">
                <div class="last__box">
                    <h3 class="last__name">Cala Moresca </h3>
                    <p class="last__text">Via Faro, Italy</p>
                    <p class="last__rating">8,6</p>
                </div>

            </li>
            <li class="last__item">
                <img class="last__photo" src="./images/kitchen2.webp" alt="Horison Blu">
                <div class="last__box">
                    <h3 class="last__name">Horison Blu</h3>
                    <p class="last__text">Petrou Karakousi, Greece</p>
                    <p class="last__rating">5,9</p>
                </div>

            </li>
            <li class="last__item">
                <img class="last__photo" src="./images/room3.webp" alt="Le Galion Hotel">
                <div class="last__box">
                    <h3 class="last__name">Le Galion Hotel</h3>
                    <p class="last__text">Saint-Martin-de-Re, France</p>
                    <p class="last__rating">8,4</p>
                </div>

            </li>
            <li>
                <img class="last__photo" src="./images/roma.webp" alt="Molitor Hotel">
                <div class="last__box">
                    <h3 class="last__name">Molitor Hotel</h3>
                    <p class="last__text">Paris, France</p>
                    <p class="last__rating">6,9</p>
                </div>

            </li>
            <li class="last__item">
                <img class="last__photo" src="./images/sofa.jpg" alt="Sierra de Meira">
                <div class="last__box">
                    <h3 class="last__name">Sierra de Meira</h3>
                    <p class="last__text">Madrid, Spain</p>
                    <p class="last__rating">7,4</p>
                </div>

            </li>
            <li class="last__item">
                <img class="last__photo" src="./images/villa2.webp" alt="Petit Hotel">
                <div class="last__box">
                    <h3 class="last__name">Petit Hotel</h3>
                    <p class="last__text">Madrid, Spain</p>
                    <p class="last__rating">7,2</p>
                </div>

            </li>
            <li class="last__item">
                <img class="last__photo" src="./images/vilal.webp" alt="Gran Hotel">
                <div class="last__box">
                    <h3 class="last__name">Gran Hotel</h3>
                    <p class="last__text">Alicante, Spain</p>
                    <p class="last__rating">8,9</p>
                </div>

            </li>
            <li class="last__item">
                <img class="last__photo" src="./images/bedroom.jpg" alt="KViHotel">
                <div class="last__box">
                    <h3 class="last__name">KViHotel</h3>
                    <p class="last__text">Madrid, Spain</p>
                    <p class="last__rating">7,2</p>
                </div>

            </li>
        </ul>
    </div>

</section>