<div class="menu hidden" data-menu>
    <ul class="menu__list">
        <li class="menu__item">
            <a href="" class="menu__link">Головна</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">Всі оголошення</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">Обране</a>
            <svg class="menu__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">Особистий кабінет</a>
            <svg class="menu__user">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
        </li>
    </ul>
</div>