<section class="order">
    <div class="container">
        <h1 class="order__title">Іспанія Мадрид</h1>
        <p class="order__text">Однокімнатна квартира в центрі Мадриду</p>
        <div class="order__cost">
        <p class="order__text">Вартисть за три доби</p>
        <p class="order__price">320$</p>
    </div>
    <div class="order__reference">
        <a href="/" class="order__link">Додати оголошення в обране</a>
        <button type="submit" class="order__button">Забронювати</button>
    </div>
        <img src="../../images/bigroom.webp" alt="bigroom" class="order__bigroom">
        <ul class="order__list">
            <li class="order__iteam">
                <img src="../../images/dorm.webp" alt="dorm" class="order__room">
            </li>
            <li class="order__iteam">
                <img src="../../images/toillet.webp" alt="toillet" class="order__room">
            </li>
            <li class="order__iteam">
                <img src="../../images/lavatory.webp" alt="lavatory" class="order__room">
            </li>
            <li class="order__iteam">
                <img src="../../images/cookery.webp" alt="cookery" class="order__room">
            </li>
        </ul>
    </div>
</section>