.header {
    padding-top: 12px;
    padding-bottom: 12px;


    &__container {
        display: flex;
        align-items: center;


    
    }

    &__btn {
        background-color: transparent;
        display: inline;
        margin-right: 35px;

        @media screen and (min-width: 768px){
            display: none;
        }
    }
    
    &__icone {
        width: 40px;
        height: 30px;
        fill: $link-color;

    }
    
    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        
        @media screen and (max-width: 768px){
            margin-right: 35px;
        }
    }
    
    &__icon {
        height: 40px;
        width: 40px;
        fill: $link-color;
        @media screen and (min-width:1200px){
            height: 55px;
            width: 55px;
        }
    }
    
    &__heart {
        height: 24px;
        width: 24px;
        fill: $link-color;
    }
    
    &__flex {
        display: flex;
        align-items: center;
        gap: 28px;
    }
    
    &__user {
        height: 24px;
        width: 24px;
        fill: $link-color;
    
    }
    
    &__photo {
        width: 55px;
        height: 55px;
    }
    
    &__button {
        padding: 12px 16px 12px 16px;
        background-color: transparent;
        border: 3px solid;
        @media screen and (min-width:768px){
            padding-left: 23px;
            padding-right: 23px;
        }
        @media screen and (min-width:1200px){
            padding-left: 28px;
            padding-right: 28px;
        }
    }
    
    &__button:hover {
        color: $title-color;
        background-color: $link-color
        
    }
    
    &__list {
        display: none;
        @media screen and (min-width:768px){
            display: flex;
            gap: 10px;
            margin-left: 38px;
            margin-right: 38px;
        }
        @media screen and (min-width:1200px){
            gap: 60px;
            margin-right: 138px;
            margin-left: 138px;
        }
    }
    
    &__text {
        color: $link-color;
        text-align: center;
        font-size: 15px;
        width: 73px;
        line-height: 100%;
        @media screen and (min-width:1200px){
            font-size: 18px;
            width: 87px;
        }
    }
    
    &__page {
        color: $link-color;
        text-align: center;
        line-height: 130%;

        @media screen and (min-width:768px){
            font-size: 16px;
        }
        @media screen and (min-width:1200px){
            font-size: 17px;
        }
        @media screen and (min-width:1300px){
            font-size: 20px;
        }
        
    }
    
    &__button {
        color: $link-color;
        text-align: center;
        font-size: 14px;
        line-height: 100%;
        margin-left: auto;
        @media screen and (min-width:1200px){
            font-size: 20px;
        }
    }
    
}



