.repair {
  padding-top: 9px;
  padding-bottom: 173px;

  &__subcontainer {
    display: flex;
  }

  &__subtext {
    color: #53585f;
    font-family: Rowdies;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__form {
    margin-top: 107px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }

  &__title {
    color: var(--Web_service_color-black_hero, #111);
    text-align: center;
    font-family: Play;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
  }

  &__text {
    color: var(--Web_service_color-black_hero, #111);
    text-align: center;
    font-family: Play;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    max-width: 370px;
  }

  &__input {
    display: flex;
    padding: 12px 346px 12px 16px;
    align-items: center;
    color: var(--Web_service_color-Hero_blue, #266294);
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    border: 3px solid var(--Web_service_color-Hero_blue, #266294);
  }

  &__link {
    color: var(--Web_service_color-name_country_color, #766f6f);
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    text-decoration-line: underline;
  }

  &__button {
    display: flex;
    width: 409px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background: var(--Web_service_color-Hero_blue, #266294);
    color: var(--Web_service_color-Background_color, #EBF8FF);
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
  }
}

main {
  background-color: #fff;
}
