<section class="cabinet">
    <div class="container">
        <div class="cabinet__moving">
        <a href="../index.html" class="">Головна</a>
        <svg class="cabinet__arrow">
            <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
          </svg>
          <a href="../cabinet.html" class="cabinet__moving">Особистий кабінет</a>
    </div>
    <h1>Особистий кабінет</h1>
    <p>Оновіть свою інформацію та дізнайтеся, як вона використовується.</p>
    <div>
        <ul>
        <li><a href="">Особисті дані</a></li>
        <li><a href="">Мої оголошення</a></li>
        <li><a href="">Обране</a></li>
        <li><a href="">Платіжні дані</a></li>
        <li><a href="">Безпека</a></li>
        </ul>
    </div>
    <form action=""><ul>
        <li>
            <p></p>
            <label><input type="text"></label>
        </li>
        <li>
            <p></p>
            <label><input type="text"></label>
        </li>
        <li>
            <p></p>
            <label><input type="email"></label>
        </li>
        <li>
            <p></p>
            <label><input type="tel"></label>
        </li>
        <li>
            <p></p>
            <label><input type="date"></label>
        </li>
        <li>
            <p></p>
            <label><input type="text"></label>
        </li>
        <li>
            <p></p>
            <label><input type="text"></label>
        </li>
    </ul>
<button>Змінити</button>
</form>
    </div>
</section>