.advirtisement {
    padding-top: 51px;
    padding-bottom: 68px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
    }
    
    &__item {
        max-width: 630px;
    }
    
    &__subtitle {
        font-family: Play;
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 28px;
    }
    
    &__name {
        text-align: center;
        font-size: 32px;
        line-height: 100%;
        margin-top: 32px;
    
    }
}

