.hero {
    padding-top: 161px;
    padding-bottom: 130px;
    background-image: url(../images/fly.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    &__title {
        color: #F8F7F7;
        font-family: "Roboto Condensed";
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        /* 120px */
        text-transform: uppercase;
        width: 509px;
        height: 240px;
    
    }
    
    &__subtitle {
        color: var(--title-color, #F8F7F7);
        font-family: "Roboto Condensed";
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 240px;
    }
    
    &__button {
        color: #F8F7F7;
        text-align: center;
        font-family: "Josefin Slab";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 16px */
        border: 1px solid #E96E25;
        background: #E96E25;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;
        margin-right: 40px;
        font-family: inherit;
    }
    
    &__button:hover {
    color: #E96E25;
    background-color:transparent
    }
    
    &__btn {
        border: 2px solid #E96E25;
        background-color: transparent;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;
        color: #E96E25;
        text-align: center;
        font-family: "Josefin Slab";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        font-family: inherit;
    }
    
    &__btn:hover   {
    color:#EBF8FF;
    background-color:#E96E25
    }

}

